.cproject
.project
build/CMakeCache.txt
build/CMakeFiles/
build/Makefile
build/cmake_install.cmake
build/stm32-template.bin
build/stm32-template.elf
build/stm32-template.hex
.settings
build/gpa-firmware.elf
build/gpa-firmware.bin
build/gpa-firmware.hex
build/conf.sh.inc
../test/build
build/unittest
build/CTestTestfile.cmake
build/Testing/
test/build/
build/gp8-clock.bin
build/gp8-clock.elf
.idea
.kdev4
gp8-clock.kdev4
CMakeLists.txt.user
build/gp8-clock.cbp
CMakeLists.txt.user.3.2-pre1
build
